* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  min-height: 100%;
}

body {
  background: linear-gradient(180deg, #6a5b7d 0, #46305d);
  // background: linear-gradient(to bottom, #bea7ff 0%, #784deb 100%);
  color: #070707;
  font-size: 14px;
}

#app {
  min-height: 100%;
  width: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: inherit;
  transition: color 200ms;
  cursor: pointer;
}

a:hover {
  color: #8f67ff;
}
